.lrn-qe .lrn-qe-ui {
  font-family: "Lato", "Helvetica", "Open Sans", "Arial", sans-serif !important;
  color: #868e96 !important;
}

.lrn .lrn-author-ui .lrn-btn-primary {
  background: #1862ab !important;
  border: 1px solid #1862ab !important;
}

.lrn-qe .lrn-qe-ui .lrn-qe-btn-primary {
  background: #1862ab !important;
  border: 1px solid #1862ab !important;
  border-radius: .5rem !important;
}

.lrn-qe .lrn-qe-ui .lrn-qe-switch .lrn-qe-input:checked+.lrn-qe-switch-trigger {
  background: #1862ab !important;
  border: 1px solid #1862ab !important;
}

.lrn-qe .lrn-qe-ui .lrn-qe-tabs .lrn-qe-tab-trigger.lrn-active .lrn-qe-form-label-name {
  color: #4dadf7 !important;
}

.cke_textarea_inline .cke_editable .cke_editable_inline .cke_contents_ltr {
  border-radius: .5rem !important;
}

.lrn-qe-form-el-reorder-handle {
  border-top-left-radius: .5rem !important;
  border-bottom-left-radius: .5rem !important;
}

.lrn-qe .lrn-qe-ui .lrn-qe-form-control-ckeditor {
  border-radius: .5rem !important;
}

.lrn-qe-form-el-reorderable .lrn-qe-form-el-wrapper .lrn-qe-form-control {
  border-top-left-radius: 0rem !important;
  border-bottom-left-radius: 0rem !important
}

.lrn-qe-input {
  border-radius: .5rem !important;
}

.lrn_assoc_question {
  border-radius: .5rem !important;
}

.lrn_dropzone {
  border-radius: .5rem !important;
}

.lrn_btn_drag {
  border-radius: .5rem !important;
}

.lrn-qe-btn-remove {
  border-radius: .5rem !important;
}

.lrn_widget.lrn_orderlist .lrn_btn_sort.lrn_button {
  border-radius: .5rem !important;
}

.lrn-qe-preview-outer {
  border-radius: .5rem !important;
}

.lrn-qe-tab-trigger {
  border-top-left-radius: .5rem !important;
  border-top-right-radius: .5rem !important;
}

.lrn-qe-tab-item .lrn-active {
  border-top-right-radius: .5rem !important;
}