body {
  margin: 0;
  padding: 0;
  font-family: "Lato", "Helvetica", "Open Sans", "Arial", sans-serif !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.lrn_widget,
.lrn_stimulus,
.lrn_mcq,
.lrn.lrn-qe {
  font-family: "Lato", "Helvetica", "Open Sans", "Arial", sans-serif !important;
}
